.channel-name-header{
    color: whitesmoke;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-right: 5px;
    border-right: #1e2124 solid 1px;
    /* border: green solid 3px; */
    /* background-color: pink; */
    width: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-desc{
    color: grey;
    font-size: 15px;
    padding-bottom: 3px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-container{
    display: flex;
    align-items: center;
    /* border: solid 1px black; */
    border-bottom: #1e2124 solid 2px;
    height: 40px;
    font-size: 20px;
    background-color: #424549;
    overflow: hidden;
    text-overflow: ellipsis;
}

.channel-name-header-container{
    display: flex;
}
