.server-icon{
    height: 50px;
    width: 50px;
    object-fit:cover;
    border-radius: 100%;
    margin: 5px;

}

.circle.square img{
    border-radius: 5px;
    object-fit:cover;
    border-radius: 30%;
}

.circle.square div{
    border-radius: 30%;
}

.nav-bar-container{
    background-color:	#1e2124;
    border: black solid 1px;
    width : fit-content;
    height: 100%;
    /* position: absolute; */

}

.dm-button{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.server-list{
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color:	#1e2124;
    align-items: flex-start;
    justify-content: flex-start;
}

.server-list > li{
    list-style-type: none;
    margin-bottom: 5px;

}

.default-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    /* border: black solid 1px; */
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    padding-bottom: 0px;
    background-color: #424549;
    color: whitesmoke;
    margin: 5px;
}
