.server-icon {
    height: 50px;
    width: 50px;
    object-fit:cover;
    border-radius: 100%;
    margin: 5px;

}

.add-server-button{
    background-color: #424549;
    border-radius: 100%;
    color: rgb(59, 165, 93);
    width: 50px;
    height: 50px;
    font-size: 50px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.add-server-button:hover{
    color: white;
    background-color: rgb(59, 165, 93);
    border-radius: 20%;
    cursor: pointer;
}

.add-server-button:active{
    color: white;
    background-color: rgb(59, 165, 93);
    cursor: pointer;
    height: 45px;
    width: 45px;
}

.add-server-active{
    background-color: #424549;
    border-radius: 20%;
    color: white;
    background-color: rgb(59, 165, 93);
    width: 50px;
    height: 50px;
    font-size: 50px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.server-icon-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.dm-button{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin: 5px;
    background-color: red;
}


.server-marker{
    border: white solid 1px;
    width: 1px;
    background-color: white;
    height: 30px;
    border-radius: 50%;
    opacity: 0;


}

.circle:hover > div .server-icon{
    border-radius: 30%;
}

.circle:hover > div .default-icon{
    border-radius: 30%;
}

.circle:hover > div .server-marker{
    opacity:100;
    height:10px;
}

.square:hover > div .server-marker{
    opacity:100;
    height:30px;
}

.circle.square .server-icon{
    border-radius: 5px;
    object-fit:cover;
    border-radius: 30%;
}

.circle.square .dm-button{
    border-radius: 5px;
    object-fit:cover;
    border-radius: 30%;
}

.circle.square .default-icon{
    border-radius: 30%;
}

.circle.square .server-marker{
    opacity: 100;
}

.nav-bar-container{
    background-color:	#1e2124;
    border: black solid 1px;
    width : 75px;
    height: 100%;
    /* position: absolute; */
    overflow: scroll;

}

::-webkit-scrollbar {
    width: 0px;
  }




.server-list{
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color:	#1e2124;
    align-items: center;
    justify-content: center;
}

.server-list > li{
    list-style-type: none;
    margin-bottom: 5px;

}

.default-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    /* border: black solid 1px; */
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    padding-bottom: 0px;
    background-color: #424549;
    color: whitesmoke;
    margin: 5px;
}
