.dm-page-main-container{
    width:87%;
    height:100%;
    background-color: #36393e;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

