.add-server-container{
    height: 500px;
    width: 400px;
    border-radius: 2%;
    /* border: blue solid 1px; */
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #36393e;
    /* padding: 10px 5px 80px; */
    /* overflow: hidden; */

}

.server-form{
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding:10px;
}

.server-form > input{
    width: 96%;
}

.server-form-container{
    display: flex;
    justify-content: flex-start;
    width:100%;
}

#modal-content {
    border-radius: 2%;
}

.upload-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-place-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    /* border: black dashed 2px; */
    border-radius: 100%;
    font-size: 50px;
    color: #5e71b6;
    border: none;
    /* background-color: #63686e; */
    /* background-color: #36393e; */
}

.img-place-holder:active{
    height: 85px;
    width: 85px;
    background-color:#7289da;

}

.prev-img{
    height: 90px;
    width: 90px;
    object-fit: cover;
    border: black solid 1px;
    background-color: transparent;
    border-radius: 100%;

}

.form-header{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    padding:10px;
    padding-bottom: 20px;
    /* border: red solid 1px; */
    font-size: 35px;
    color: whitesmoke
}

.server-form-buttons{
    display: flex;
    justify-content: space-around;
    width:100%;
    margin-top: 10px;
    /* margin-bottom: 100px; */
}

.serv-button{
    height: 40px;
    width: 100px;

}

.server-submit-button{
    background-color: #7289da;
    border:none;
    color: whitesmoke;
}

.server-submit-button:hover{
    background-color: #5e71b6;
}

.server-back-button:hover{
    background-color: black;
    color: whitesmoke;
}

.server-name-input{
    background-color:#282a2e;
    color: whitesmoke;
    outline: none;
    border: none;
    padding:5px;
    border-radius: 10px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:20px;
}

.server-description-input{
    background-color:#282a2e;
    color: whitesmoke;
    outline: none;
    border: none;
    padding:5px;
    border-radius: 10px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:20px;

}

.server-form-buttons{
    background-color: #282a2e;
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-left:20px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width:100%;

}
