/* TODO Add site wide styles */
.main{
    background-color: #1e2124;
    display: flex;
    position:fixed;
    width: auto !important;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    padding:0;
    margin:0;
    top:0;
    left:0;
   overflow: hidden;
   object-fit:fill;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


@font-face {
    font-family: 'UniSans';
    src: local('UniSans'), url(./fonts/UniSansBook.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

  @font-face {
    font-family: 'WhitneyMedium';
    src: local('WhitneyMedium'), url(./fonts/whitneymedium.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

  body, html {
    font-family: WhitneyMedium
}

button {
    cursor:pointer;
}

.error{
    color: red;
}
