.channel-form-container{
    width:500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #424549;
    border-radius: 20px;
}

.add-channel-caption{
    font-size: 30px;
    color: whitesmoke;
    padding: 15px;
    margin-top: 5px;
}

.add-ch-yes{
    background-color: #7289da;
    border: none;
    color: whitesmoke;
    font-size: 20px;
    margin-left: 30px;
}

.add-ch-yes:hover{
    background-color: #5a6db0;
    /* color: black; */
}

.add-ch-cancel:hover{
    background-color: black;
    color: whitesmoke;
}

.add-ch-cancel:active{
    height: 45px;
    width: 145px;
    background-color: white;
    color: black;
}

.add-ch-yes:active{
    height: 45px;
    width: 145px;
    background-color: black;
    color: whitesmoke;

}

.add-ch-cancel{
    font-size: 20px;
    margin-right: 30px;
}

.add-ch-form-button{
    height: 50px;
    width: 150px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
}

.add-ch-buttons-container{
    position: relative;
    top: 11px;
    width:500px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #282b30;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 20px;
}

.channel-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.channel-name-input{
 background-color: #282b30;
 color: whitesmoke;
 width: 300px;
 font-size: 20px;
 height: 30px;
 margin: 5px;
 padding: 10px;
 margin-bottom: 10px;
 outline: none;
 border: none;
 border-radius: 10px;
}

.channel-desc-input{
    background-color: #282b30;
    color: whitesmoke;
    width: 300px;
    font-size: 20px;
    height: 30px;
    margin: 5px;
    padding:10px;
    border: none;
    outline:none;
    border-radius: 10px;
}
