.main-view{
    width:100%;
    height: 96%;
    background-color: #1e2124;
    border: red solid 1px;
    margin-top: 30px;
    display:flex;


}

.channel-container{
    width:250px;
    height: 100%;
    border: blue solid 1px;
    /* overflow: scroll; */
    background-color: #282b30;
}

.channel-container ::-webkit-scrollbar{
    display: none;
}

.server-title{
    color: white;
    border: pink solid 1px;
    font-size: 25px;
    width: 240px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-overflow: ellipsis;
    padding: 5px;
}

.server-text{
    text-overflow: ellipsis;
}
