.main-view{
    width:100%;
    height: 100%;
    background-color: #1e2124;
    /* border: red solid 1px; */
    /* margin-top: 30px; */
    display:flex;


}

.main-window{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header-message{
    width:100%;
    /* border:1px solid white */
}

.channel-container{
    width:250px;
    height: 100%;
    /* border: blue solid 1px; */
    /* overflow: scroll; */
    background-color: rgb(47,49,54);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.channel-list-user-box{
    height:100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.channel-container ::-webkit-scrollbar{
    display: none;
}

.server-title{
    color: white;
    /* border: pink solid 1px; */
    border-bottom: #1e2124 solid 2px;
    font-size: 25px;
    width: 240px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-overflow: ellipsis;
    padding: 5px;
}

.server-text{
    text-overflow: ellipsis;
}

.header-message{
    width:100%;
}
