.edit-channel-container{
    width: 450px;
    height: 350px;
    /* border:red solid 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #424549;
    border-radius: 20px;
}

.edit-channel-caption{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: whitesmoke;
    padding-top:30px;
    position: relative;
    left: 80px;

}

.ch-del{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border:none;
    font-size: 30px;
    height: 40px;
    width: 40px;
    position:relative;
    left: 30px;
    /* left: 335px; */
    /* bottom: 230px; */
    color: red;
}

.edit-channel-form-container{
    display:flex;
    flex-direction: column;
}

.ch-name-ipnut-container{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-size: 25px;
}

.ch-desc-input-container{
    display:flex;
    flex-direction: column;
    color: whitesmoke;
    font-size: 25px;
}

.buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282b30;
    padding-top:10px;
    width:100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* background-color: red; */
    /* flex-direction: column; */
}
.ch-edit{
    height: 50px;
    width: 150px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5px;
}

.ch-save{
    background-color: #7289da;
    border: none;
    color: whitesmoke;
    font-size: 20px;
}
.ch-save:hover{
    background-color: #5b6eb3;
}

.ch-cancel:hover{
    background-color: black;
    color: whitesmoke;
}

.ch-save:active{
    background-color: #5b6eb3;
    width: 145px;
    height: 45px;
}

.ch-cancel:active{
    background-color: black;
    color: whitesmoke;
    width: 145px;
    height: 45px;
}

.edit-text{
    background-color: #282b30;
    color: whitesmoke;
    font-size:20px;
    resize: none;
    overflow: scroll;
    padding:10px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.input-labels{
    padding: 5px;
}
