.message-container{
    /* border: greenyellow solid 1px; */
    /* width: 99.9%; */
    height: 100%;
    width:100%;
    background-color: #424549;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    overflow-y: visible;

}
