.channel-name-box{
    color: white;
    background-color: #282b30;
    font-size: 17px;
    border: none;
    height : 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    text-overflow: ellipsis;
    width:250px;



}

.channel-name-box:hover{
    background-color: #424549;
}

.channel-list{
    padding : 0px;
    width:250px;
}
