.channel-name-box{
    color: lightgrey;
    background-color: transparent;
    font-size: 17px;
    border: none;
    height : 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width:250px;
    border-radius: 5%;
    /* border: solid 1px pink */

}

.channel-settings-button{
    border:none;
    background-color: transparent;
    opacity: 0;
    color: whitesmoke;
    font-size: 20px;
}

.channel-settings-button:active{
    color: black;
}

.channel-button-container{
    display: flex;
    width: 95%;
    /* border:1px solid green; */
    margin-top: 5px;
    margin-left:5px;
    border-radius: 10px;
    /* margin-right:20px; */
}

.channel-button-container:hover button {
    opacity: 100;
}

.channel-text{
    color: white;
    background-color: #282b30;
    font-size: 17px;
    border: none;
    height : 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    text-overflow: ellipsis;
    width: 230px;
}

.channel-button-container:hover .channel-name-box{
    background-color: #424549;
}

.channel-button-container:hover button{
    background-color: #424549;
}

.channel-list{
    padding : 0px;
    width:250px;


}

.channel-text{
    display: flex;
    align-items: center;
    background-color: transparent;
    color: lightgrey;
    border-bottom: #424549 solid 1px;
}

.add-channel-button{
    margin-right: 15px;
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: whitesmoke;
}

.add-channel-button:active{
    color: black;
    font-size: 13px;
}

.channel-setting-dropdown{
    /* background-color: red; */
    position: absolute;

}
